.daysRow {
  display: flex;
  color: white;
  font-size: 18px;
  padding: 15px 0 15px 0;
  background-color: lightseagreen;
  border-radius: 5px;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.day {
  padding: 15px;
}
